@import "common/all";
@import "styles";
@import "ui/all";

.vehicle-header {
  display: block;
  text-align: center;
  min-width: 120px !important;
  max-width: 120px !important;
  padding: 2px 2px 16px 2px;
}
.vehicle-button {
   @extend .vehicle-header;
  text-align: center;
  vertical-align: top;
  min-height: 75px !important;
  max-height: 75px !important;
  background-repeat: no-repeat;
  background-position:center center;
  background-size: 110px;
  padding-top: 5px;
}
.vehicle-button:active{
  background: rgba(255, 0, 7, 0.65);
  padding: 4px 4px 4px 4px;
  background-repeat: no-repeat;
  background-position:center;
}

